

@media (min-width: 768px)
.p-md-5 {
    padding: 3rem!important;
}
p{
    margin:7rem; 
}
.social{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 5rem;
}
.social i{
        margin: 1rem;
       font-size: 5rem;     
}
.myskill{
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.myskill div{
    
    padding: 1rem;
}
#vamshi{
    font-family: "Lobster", Sans-serif;
}
#mainDiv{
    padding-top: 10rem;
    padding-bottom: 10rem;
   background-image: url("https://us.123rf.com/450wm/tirachard/tirachard1802/tirachard180200064/95656773-creative-flat-lay-photo-of-workspace-desk-top-view-office-desk-with-laptop-blank-empty-notebooks-and.jpg?ver=6");
   background-repeat: no-repeat;
   background-size: cover; 
   background-position:center;
   padding-left: 5rem;
   
}

    #navbarNav{
justify-content: flex-end;
padding-right:10rem ;
    }
    .navbar{
        padding-left: 10rem;
    }
#projects{
    text-align: center;
    font-size: 2rem;
    margin: 5rem;
    font-weight: bold;
    padding-top: 5rem;
}
.progress-bar{
    background: linear-gradient(to bottom left, #ee8a78, #ff4f64);
    opacity: 0.8;
}
@media screen and (max-width: 425px) {
    #mainDiv{
        margin-top:0rem;
        padding-left: 2rem;
    }
    .myskill{
        justify-content: space-between;
    }
    #nav{
        display: none;
        visibility: none;
    }
  }